<ul class="ui-list ui-list-link ui-border-tb">
  <li class="ui-border-t" data-href="/m/intentions/new">
    <div class="ui-list-img">
      <span style="background-image:url(http://placeholder.qiniudn.com/200x136)"></span>
    </div>
    <div class="ui-list-info">
      <h4 class="ui-nowrap">新的意向</h4>
      <p class="ui-nowrap">任何渠道获取到的意向都在这里录入</p>
    </div>
  </li>
  <li class="ui-border-t" data-href="/m/students">
    <div class="ui-list-img">
      <span style="background-image:url(http://placeholder.qiniudn.com/200x136)"></span>
    </div>
    <div class="ui-list-info">
      <h4 class="ui-nowrap">学员详表</h4>
      <p class="ui-nowrap">查询学员，跟进学员信息</p>
    </div>
  </li>
</ul>
