<div class="ui modal assign-task">
  <i class="close icon"></i>
  <div class="header">
    指定处理人
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label for="processor">处理人</label>
        <select class="ui search selection dropdown" name="processor" id="processor">
          <option></option>
          <% User.all.each do |user| %>
          <option value="<%= user.id %>"><%= user.name %></option>
          <% end %>
        </select>
      </div>
      <div class="field">
        <label for="task_date">日期</label>
        <input type="text" name="task_date" id="task_date" class="datepicker" />
      </div>
      <div class="field">
        <label for="task_type">备注说明</label>
        <input type="text" name="task_type" id="task_type" />
      </div>
      <div class="field">
        <label for="preview">预览消息</label>
        <div name="preview" style="border: solid 1px #ccc;border-radius: 5px;padding: 5px;">
          发布人：<%= current_user.name %>（手机：<%= current_user.phone %>）<br>
          发布时间：<span class="t red">[由实际发布时间决定]</span><br>
          消息：<br><span class="t red">[处理人]</span>你好，请于<span class="t red">[日期]</span>处理<span class="t red">[当前学员]</span>学员（手机：<span class="t red">[学员号码]</span>）的业务<br><span class="t red">[备注说明]</span>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      不用了
    </div>
    <div class="ui positive right labeled icon button">
      好的就这样
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
