<div class="ui modal assign-task">
  <i class="close icon"></i>
  <div class="header">
    指定处理人
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label for="processor">处理人</label>
        <select class="ui search selection dropdown" name="processor" id="processor">
          <option></option>
          <% User.all.each do |user| %>
          <option value="<%= user.id %>"><%= user.name %></option>
          <% end %>
        </select>
      </div>
      <div class="field">
        <label for="task_type">类型</label>
        <input type="text" name="task_type" id="task_type" />
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      不用了
    </div>
    <div class="ui positive right labeled icon button">
      好的就这样
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
