<link rel="stylesheet" href="/datetimepicker/themes/classic.css" id="theme_base">
<link rel="stylesheet" href="/datetimepicker/themes/classic.date.css" id="theme_date">
<% content_for :title, "#{@intention.student.name} - 编辑意向信息" %>
<div class="intention">
  <%= render 'form_intention' %>
</div>
<script type="text/javascript">
  (function() {
    $('.ui.dropdown.current_status').dropdown();
  })();
</script>
