<% content_for :title, "意向列表 - 极速学车ERP系统" %>
<style type="text/css">
</style>
<div class="intention">
  <div class="ui segment">
    <button class="ui primary button all">全部</button>
    <button class="ui basic button wait_call">未联系</button>
    <button class="ui basic button contacting">联系中</button>
    <button class="ui basic button booking">预约试学</button>
    <button class="ui basic button wait_pay">等待付款</button>
    <button class="ui basic button signed_up">已报名</button>
    <button class="ui basic button should_contact">今日任务</button>
    <div class="ui input"><input placeholder="Search..." type="text" /></div>
  </div>
  <div id="content-list">
    <%= render partial: 'index_card_intention_list' %>
  </div>
  <div class="ui segment">
  </div>
</div>
<!-- javascript code -->
<script type="text/javascript">
  $('.all').on('click', function() {
    getIntentionByType('all', this);
  });

  $('.wait_call').on('click', function() {
    getIntentionByType('wait_call', this);
  });

  $('.contacting').on('click', function() {
    getIntentionByType('contacting', this);
  });

  $('.booking').on('click', function() {
    getIntentionByType('booking', this);
  });

  $('.wait_pay').on('click', function() {
    getIntentionByType('wait_pay', this);
  });

  $('.signed_up').on('click', function() {
    getIntentionByType('signed_up', this);
  });

  $('.should_contact').on('click', function() {
    getIntentionByType('should_contact', this);
  });

  (function() {
    var touch = getURLParameter('touch');
    console.log(touch);
    console.log(typeof touch);
    var btn = $('.' + touch)[0];
    if (!btn) {
      return;
    }
    getIntentionByType(touch, btn);
  })();

  function getIntentionByType(intentionType, btn) {
    $.post('/intentions/get_intention_list', {
      'current_status': intentionType
    }).success(function(data) {
      if (data.length > 0) {
        $('#content-list').html(data);
      } else {
        $('#content-list').html('error');
      }
    }).error(function(data) {
      $('#content-list').html('error');
    });
    $('.primary').each(function() {
      $(this).removeClass('primary');
      $(this).addClass('basic');
    });
    $(btn).removeClass('basic');
    $(btn).addClass('primary');
  }

  function getURLParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
      var sParameterName = sURLVariables[i].split('=');
      if (sParameterName[0] == sParam) {
        return sParameterName[1];
      }
    }
  }
</script>
