<% content_for :title, "渠道管理 - 极速学车ERP系统" %>
<div class="student-source">
  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui raised text segment" style="margin-top: 10px;">
        <h2 class="ui header">渠道录入</h2>
        <p>和渠道签约后，需要立即录入</p>
        <%= link_to new_student_source_path do %>
          <div class="ui primary labeled icon button">
            添加渠道
            <i class="add icon"></i>
          </div>
        <% end %>
        <%= link_to '渠道详表', list_student_sources_path, class: 'ui primary button' %>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui raised text segment" style="margin-top: 10px;">
        <h2 class="ui header">渠道维护</h2>
        <p>渠道的建立是艰辛的，所以维护很重要，很重要，很重要</p>
        <%= link_to new_source_contact_student_sources_path do %>
          <div class="ui primary labeled icon button">
            渠道跟踪
            <i class="add icon"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
