<link rel="stylesheet" href="/datetimepicker/themes/classic.css" id="theme_base">
<link rel="stylesheet" href="/datetimepicker/themes/classic.date.css" id="theme_date">
<% content_for :title, "登记渠道 - 极速学车ERP系统" %>
<div class="student">
  <%= render 'form_new' %>
</div>
<script type="text/javascript">
  (function() {
    $('.ui.dropdown.gender').dropdown();
    $('.ui.dropdown.school').dropdown();
    <% if flash[:alert] %>
    $('.form').addClass('error');
    <% end %>
  })();
</script>
