<div class="ui modal fee-new">
  <i class="close icon"></i>
  <div class="header">
    新增费用
  </div>
  <div class="content" id="fee">
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button">
      保存
      <i class="checkmark icon save-fee"></i>
    </div>
  </div>
</div>
<div class="ui modal fee-payment">
  <i class="close icon"></i>
  <div class="header">
    新增付款
  </div>
  <div class="content" id="fee_payment">
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button">
      保存
      <i class="checkmark icon save-fee-payment"></i>
    </div>
  </div>
</div>
<div class="ui modal fee-payment-edit">
  <i class="close icon"></i>
  <div class="header">
    编辑付款
  </div>
  <div class="content" id="fee_payment_edit">
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button">
      保存
      <i class="checkmark icon update-fee-payment"></i>
    </div>
  </div>
</div>
