<% if @residence_card.present? %>
  <%= link_to edit_student_residence_card_path(student_id: @student.id, id: @residence_card.id) do %>
    <div class="ui teal labeled icon button">
      编辑居住证
      <i class="edit icon"></i>
    </div>
  <% end %>
<% end %>
<% if @residence_card.student.coach.nil? %>
  <%= link_to edit_student_path(@student), class: 'ui teal labeled icon button' do %>
    请为学员指定教练
    <i class="edit icon"></i>
  <% end %>
<% else %>
  <% if @residence_card.have_number? && @residence_card.student.coach.cover_all? %>
    <% if @residence_card.notify_at.nil? %>
    <a class="ui button notify-rc-info">下发居住证信息</a>
    <% else %>
    <a class="ui button notify-rc-info">下发居住证信息(上次：<%= @residence_card.last_notify_at.to_s(:db) %>)</a>
    <% end %>
  <% end %>
  <% if @residence_card.have_card? %>
    <% if @residence_card.fatch_notify_at.nil? %>
    <a class="ui button notify-fetch-rc">通知领取居住证</a>
    <% else %>
    <a class="ui button notify-fetch-rc">通知领取居住证(上次：<%= @residence_card.last_fatch_notify_at.to_s(:db) %>)</a>
    <% end %>
  <% end %>
<% end %>
