<% if @residence_card.present? %>
  <%= link_to edit_student_residence_card_path(student_id: @student.id, id: @residence_card.id) do %>
    <div class="ui teal labeled icon button">
      编辑资料
      <i class="edit icon"></i>
    </div>
  <% end %>
<% end %>
<% if @residence_card.card_id.present? && @residence_card.current_address.present? %>
  <a class="ui button notify-rc-info">下发居住证信息</a>
  <a class="ui button notify-fetch-rc">通知领取居住证</a>
<% end %>
