<% if @residence_card.present? %>
  <%= link_to edit_student_residence_card_path(student_id: @student.id, id: @residence_card.id) do %>
    <div class="ui teal labeled icon button">
      编辑资料
      <i class="edit icon"></i>
    </div>
  <% end %>
<% end %>
<% if @residence_card.card_id.present? && @residence_card.current_address.present? %>
  <a class="ui button notify-coach">发送给教练</a>
  <a class="ui button notify-student">发送给学员</a>
<% end %>
