<% @done_tasks.each do |task| %>
<ul class="ui-list ui-list-function ui-list-link ui-border-tb">
  <li class="ui-border-t" data-href="/work_tasks/<%= task.id %>">
    <div class="ui-list-thumb">
      <span style="background-image:url(/email.png)"></span>
    </div>
    <div class="ui-list-info">
      <h4 class="ui-nowrap"><%= task.title %></h4>
      <p class="ui-nowrap">
        <label class="ui-label-s"><%= task.is_read? ? '已读' : '未读' %></label>
        执行人：<%= task.to_user.name %>
      </p>
    </div>
  </li>
</ul>
<% end %>
