<% content_for :title, "任务列表 - #{current_user.name}" %>
<style type="text/css">
  .tags {
    position: absolute;
    top: 52%;
    right: 30px;
    margin-top: -15px;
    height: 30px;
    line-height: 30px;
    padding: 0 11px;
    font-size: 15px;
  }

  .task-active {
    background-color: white;
  }

  .task-done {

  }

  .task-close {
    width: 18px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
    background:url(/mail2757b6.png) -48px -16px no-repeat;
  }
</style>
<header class="ui-header ui-header-positive ui-border-b">
  <h1>任务列表</h1>
  <%= link_to work_tasks_path do %>
    <button class="ui-btn">回首页</button>
  <% end %>
</header>
<div class="ui-container">
  <div class="ui-tab">
    <ul class="ui-tab-nav ui-border-b">
      <li class="current">我的任务</li>
      <li>已完成</li>
      <li>他人任务</li>
    </ul>
    <ul class="ui-tab-content" style="width:300%">
      <li>
        <%= render 'index_current_task' %>
      </li>
      <li>
        <%= render 'index_done_task' %>
      </li>
      <li>
        <%= render 'index_other_task' %>
      </li>
    </ul>
  </div>
</div>
<script>
(function (){
  var tab = new fz.Scroll('.ui-tab', {
    role: 'tab',
    autoplay: false,
    interval: 6000
  });
  /* 滑动开始前 */
  tab.on('beforeScrollStart', function(fromIndex, toIndex) {
        console.log(fromIndex,toIndex);// from 为当前页，to 为下一页
      })
})();
</script>
