<% content_for :title, "极速学车ERP系统" %>
<div class="ui very raised text container segment">
  <h2 class="ui header">意向录入</h2>
  <p>当我们得到了意向学员的联系方式后，我们就需要来这里录入我们的意向，避免浪费。</p>
  <%= link_to '提交意向', new_intention_path, class: 'ui primary button' %>
</div>
