<% content_for :title, "未报名学员 - 极速学车ERP系统" %>
<div class="ui segment coach">
  <table class="ui teal striped sortable celled table">
    <thead>
      <tr>
        <th class="one wide">序号</th>
        <th class="three">姓名</th>
        <th class="four wide">手机</th>
        <th class="eight wide">意向评估</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each_with_index do |student, index| %>
      <tr>
        <td class="middle center aligned"><%= (index + 1).to_s.rjust(3, '0') %></td>
        <td class="middle"><%= link_to "#{student.name}", intention_path(student.intention), { target: '_blank' } %></td>
        <td class="middle aligned text"><%= PhoneExt.format_phone(student.phone) %></td>
        <td class="middle aligned text"></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $('table').tablesort();
</script>
