<% content_for :title, "费用报表 - 极速学车ERP系统" %>
<link rel="stylesheet" href="/datetimepicker/themes/classic.css" id="theme_base">
<link rel="stylesheet" href="/datetimepicker/themes/classic.date.css" id="theme_date">
<div class="fees">
  <div class="ui grid">
    <div class="ui row">
      <div class="three wide column rp-menu" style="padding-top: 0;">
        <div class="ui vertical menu">
          <%= render 'report_menu' %>
        </div>
      </div>
      <div class="thirteen wide column rp-view" style="padding-top: 0;">
      </div>
    </div>
  </div>
</div>
<%= render partial: 'students/form_dialogs' %>
<script type="text/javascript">
  $(function() {
    window.flash = pages.common.showFlashText('loading');
    window.flash.hide();
    $("[data-remote='true']").bind('ajax:before', function() {
      if ($(this).attr('disabled') == 'disabled') {
        return false;
      }
      $(this).attr('disabled', 'disabled');
      window.flash.show('正在加载...');
    }).bind('ajax:success', function() {
      window.flash.hide();
      $(this).removeAttr("disabled");
    }).bind('ajax:after', function() {
      window.flash.hide();
      $(this).removeAttr("disabled");
    });

    $(document).delegate('.pay-unit', 'click', function() {
      /*
      1.是否已点击，如果已点击，则取消本次点击
      2.取消所有项的active，增补本项的active
      3.本项标注为
       */
      _getByPayUnit(this);
    });
    _getByPayUnit($('.pay-unit').first());
  });

  function _getByPayUnit(obj) {
    var that = $(obj);
    if (that.attr('disabled') == 'disabled') {
      return false;
    }
    window.flash.show('加载中...');
    that.attr('disabled', 'disabled');
    $('.pay-unit').each(function() {
      $(this).removeClass('active');
    });
    that.addClass('active');
    // ajax
    $.get('/pay_units/' + that.data('pay-unit-id') + '/payments', {
    }).success(function(data) {
      $('.rp-view').html(data);
      that.removeAttr("disabled");
      window.flash.hide();
    }).error(function(data) {
      that.removeAttr("disabled");
      window.flash.hide();
    });
  }
</script>
