<div class="residence_card">
  <%= render 'form_init' %>
</div>
<script type="text/javascript">
  (function() {
    $(".id-card").on("click", function() {
      $('#hidde-new-file').click();
    });
  })();
</script>
