.f-left {
  float: left;
}

.f-right {
  float: right;
}

.relative {
  position: relative;
}

.three-line {
  position:relative;
  line-height:1.4em;
  /* 3 times the line-height to show 3 lines */
  height:4.2em;
  overflow:hidden;

  &::after {
    content: "...";
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 1px 45px;
    background: url(/ellipsis_bg.png) repeat-y;
  }
}

.padded {
  margin: 10px;
}

.ui {
  &.table {
    td {
      padding: 0.41428571em 0.1em;

      &.number {
        text-align: right;
        padding-right: 0.4em;
      }

      &.date-time {
        text-align: center;
        padding: 0.2em;
      }

      &.phone {
        text-align: center;
        padding: 0.2em;
      }

      &.text {
        text-align: left;
        padding-left: 0.4em;
      }
    }
  }

  &.header.thin {
    margin-bottom: 2px;
  }

  &.divider.thin {
    margin-top: 2px;
  }
}

.one-line {
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    content: "...";
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 1px 45px;
    background: url(/ellipsis_bg.png) repeat-y;
  }
}

a.black {
  color: black;
}

.breadcrumb-pad {
  margin-top: 10px !important;
  margin-left: 10px !important;
  padding: 5px;
}

.text-ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.short {
    max-width: 100px;
  }

  &.normal {
    max-width: 300px;
  }

  &.long {
    max-width: 500px;
  }
}

.t {
  &.red {
    color: red;
  }
}