.intention {
  margin-top: 10px;

  ul {
    &.intention-cards {
      text-align: center;
      padding-left: 0;
      .intention-card {
        text-align: initial;
      }
    }
  }

  span.red {
    color: red;
  }

  .primary > span {
    &.red {
      color: white;
    }
  }

  .ui.button.padded {
    padding: 8px;
  }

  span {
    &.red {
      color: red;
    }

    &.padded {
      padding: 0 2px;
      margin: 2px;
    }
  }

  .img-comment {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    padding: 8px;
    color: #fff;
    width: 100%;
    z-index: 999;
  }

  &.intention-detail {
    .padding-container {
      padding: 10px;

      .padded-tag {
        padding: 3px;
        border: solid 1px #ccc;
        border-radius: 5px;
        color: #FFF;
        background-color: #469DF6;

        &.red {
          background-color: red;
        }

        &.blue {
          background-color: $blue;
        }

        &.green {
          background-color: $green;
        }
      }
    }
  }

  .intention-card {
    list-style: none;
    margin: 5px 5px 20px;
    display: inline-block;
  }
}
