.intention {
  margin-top: 10px;

  .img-comment {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    padding: 8px;
    color: #fff;
    width: 100%;
    z-index: 999;
  }

  &.intention-detail {
    .padding-container {
      padding: 10px;

      .padded-tag {
        padding: 3px;
        border: solid 1px #ccc;
        border-radius: 5px;
        color: #FFF;
        background-color: #469DF6;

        &.red {
          background-color: red;
        }

        &.blue {
          background-color: $blue;
        }

        &.green {
          background-color: $green;
        }
      }
    }
  }
}
