@mixin sub-text {
  font-size: 14px;
  color: $sub-text-color;
}

@mixin error {
  color: $red;
  display: block;
}

@mixin price {
  color: $orange;
  font-size: 23px;
}

@mixin avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

@mixin line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin padded-container {
  margin: 15px 10px;
}

@mixin ui-grid-fix {
  .ui.grid {
    margin-top: 0;
    .column {
      padding-top: 0;
    }
  }
}

@mixin small-button {
  a.small-button {
    padding: 3px;
    background-color: #fef;
    border: solid 1px #ccc;
    border-radius: 3px;
  }
}