.student-source {
  @include ui-grid-fix;
  a.small-button {
    padding: 3px;
    background-color: #fef;
    border: solid 1px #ccc;
    border-radius: 3px;
  }

  .padding-container {
    padding: 10px 0;
  }

  tr {
    &.wait_call {
      background-color: white;
    }

    &.contacting {
      background-color: #b0d3ff;
    }

    &.booking {
      background-color: violet;
    }

    &.wait_pay {
      background-color: yellow;
    }

    &.signed_up {
      background-color: #b8fc96;
    }

    &.canceled {
      background-color: #ccc;
    }
  }
}
