/* color */
$white: #fff;
$red: #fa7251;
$yellow: #fdb338;
$bright-gray: #dae6ef;
$orange: #f26a12;
$gray: #a9a9a9;
$blue: #469df6;
$green: #1b8e5d;
$border-color: #ddd;
$text-color: #666;
$sub-text-color: #999;
$text-color-light-gray: #ccc;
$background-color: #f0efed;

/* length */
$upload-height: 25px;
$form-left-percent: 40%;
$form-right-percent: 60%;
