<% if @notify[:total] <= 0 %>
<a class="item">
  <i class="mail icon"></i> 通知消息
</a>
<% else %>
<% @notify.delete(:total) %>
<div class="ui simple dropdown item">
  <i class="mail icon"></i> 通知消息
  <i class="dropdown icon"></i>
  <div class="menu">
    <% @notify.map do |key, value| %>
      <% if value > 0%>
      <a class="item intention-href" data-type="<%= key %>" href="/intentions?touch=<%= key %>">
        <i class="mail icon"></i>
        <span style="color: red;margin-right: 4px;"><%= value %></span>
        <%= t("application.menus.#{key}") %>
      </a>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
